@charset "UTF-8";
/**
 * Преобразование пикселей в rem на основе переменной с базовым размером шрифта.
 * @param  {number} $px Число пикселей (с единицами измерения или без)
 * @param  {string} Число пикселей, размер контентного шрифта на проекте
 * @return {string} Результат преобразования $px в rem
 */
/*------------------------------------*\
  # Transitions
\*------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol[class], ul[class], li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", Arial, Helvetica CY, Nimbus Sans L, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", Arial, Helvetica CY, Nimbus Sans L, sans-serif;
  line-height: normal;
  background-color: #fff;
}

a {
  color: #FE984B;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #fe8932;
  text-decoration: underline;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a:active {
  color: #fe7b18;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

s,
strike {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
}

hr {
  margin: 10px 0;
  padding: 0;
  height: 0;
  border-color: #808080;
  border-style: solid;
  border-width: 1px 0 0 0;
  box-sizing: content-box;
}

sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  color: #000;
  background: #ff0;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

img, picture {
  max-width: 100%;
  display: block;
  border: 0;
}

figure {
  margin: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

td,
th {
  padding: 0;
}

input,
textarea,
button,
select,
optgroup {
  margin: 0;
  padding: 0;
  outline: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", Arial, Helvetica CY, Nimbus Sans L, sans-serif;
  line-height: normal;
  border-radius: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

legend {
  border: 0;
  padding: 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  box-sizing: content-box;
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/montserrat-v14-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat-v14-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-100italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../fonts/montserrat-v14-latin_cyrillic-100italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-100italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-200italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/montserrat-v14-latin_cyrillic-200italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-200italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/montserrat-v14-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-300italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v14-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/montserrat-v14-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat-v14-latin_cyrillic-500italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-500italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v14-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/montserrat-v14-latin_cyrillic-600italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-600italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/montserrat-v14-latin_cyrillic-700italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/montserrat-v14-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/montserrat-v14-latin_cyrillic-800italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-800italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900italic - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/montserrat-v14-latin_cyrillic-900italic.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-900italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat-v14-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: blue;
}
.container > .content {
  flex: 1 0 auto;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1920px;
  min-width: 280px;
}

.loader {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #3a3a3a transparent #3a3a3a transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
}

@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline !important;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  pre,
blockquote {
    border: 1px solid #999 !important;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }

  table {
    border-collapse: collapse !important;
  }
  table td,
table th {
    background-color: #fff !important;
  }
}

/*# sourceMappingURL=styles.css.map */
