body {
  box-sizing: border-box;
  font-family: Ubuntu, serif;
  background: #fbfbfb;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
}

.header {
  height: 120px;
  margin: 10px 20px 0 40px;
}

.header__contacts {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.header__contacts span {
  font-size: 13px;
  color: rgba(37, 37, 37, 0.3);
  height: 18px;
}
.contacts__icon2 {
  margin-right: 20px;
}

.contacts__adress {
  margin-right: 30px;
  background: url(../../images/header/icons/pin.svg) left no-repeat;
  padding-left: 25px;
}

.contacts__mail {
  margin-right: 70px;
  background: url(../../images/header/icons/mail.svg) left no-repeat;
  padding-left: 25px;
}

.contacts__tel {
  margin-right: 70px;
  background: url(../../images/header/icons/phone.svg) left no-repeat;
  padding-left: 25px;
  font-weight: bold;
}
.header__nav{
  display: flex;
  justify-content: space-between;
}
.header__logo{
  position: relative;
  flex-grow: 1;
}
.header__logo1 {
  position: absolute;
  bottom: 1px;
}
.header__logo2 {
  position: absolute;
  left: 70px;
}

.header__logo3 {
  position: absolute;
  top: 40px;
  left: 70px;
}
.nav__button {
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 160px;
  color: #ffffff;
  border: 0;
  letter-spacing: 1px;
}

.nav__button:hover {
  border: 4px solid #5583DD;
}

.nav__button:active {
  background: #1E52B8;
  color: #A3BAE8;
}

.nav__menu-item {
  display: inline-block;
  margin-right: 35px;
}

.nav__menu-item:last-child {
  margin-right: 45px;
}

.nav__menu-item:not(:last-child):after {
  content: "/";
  color: #BCCBDE;
  transform: rotate(135deg);
  padding-left: 50px;
}

.nav__menu-item a {
  text-decoration: none;
  color: black;
}

.nav__menu-item:first-child {
  background: url(../../images/header/Rectangle.svg) center no-repeat;
  padding-left: 60px;
}

.section {
  display: flex;
  height: 600px;
  padding: 5% 0 0 5%;
  background: url(../../images/main/Unionmain.svg) no-repeat 80% 40%,
  url(../../images/main/Vectormain.svg) no-repeat 100% 100%;
}

.section__block {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}
.block__title{
  background: url("../../images/main/border.svg") no-repeat 0 0;
  padding-top: 20px;
}

.section__block a {
  text-decoration: none;
  color: black;
}

.block__elem1 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/hat.svg) left no-repeat;
}

.block__elem2 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/home.svg) left no-repeat;
}

.block__elem3 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/play.svg) left no-repeat;
}

.block__elem4 {
  margin-left: 10px;
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/pin.svg) left no-repeat;
}

.block__button {
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 160px;
  color: #ffffff;
  border: 0;
  letter-spacing: 1px;
  margin-top: 40px;
}

.block__button:hover {
  border: 4px solid #5583DD;
}

.block__button:active {
  background: #1E52B8;
  color: #A3BAE8;
}

.section__video {
  margin-right: 40px;
  float: right;
  position: relative;
  width: 800px;
  height: 500px;
}
.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../../images/video/play.svg) 50% 50% no-repeat;
}

.video__overlay.o {
  background: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper1_head{
  display: flex;
}
.swiper1_title{
  background: url("../../images/main/border.svg") no-repeat 50% 0;
  padding-top: 20px;
  margin: 0 auto;
}
.swiper1_link{
  background: url("../../images/main/slider1head_arrow.png") no-repeat 100% 10%;
  padding-right: 20px;
}
.swiper1_link a{
  text-decoration: none;
  color: #3067D1;
}
.swiper1 .swiper-wrapper{
  height: 500px;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slide_1{
  background: url("../../images/main/slider1_teacher.svg") center center no-repeat;
}
.slide_2{
  background: url("../../images/main/slider1_tongue.svg") center center no-repeat;
}
.slide_3{
  background: url("../../images/main/slider1_friends.svg") center center no-repeat;
}
.slide_4{
  background: url("../../images/main/slider1_boat.svg") center center no-repeat;
}
.slide__text{
  position: absolute;
  top: 400px;
}
.slide__text-link{
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.slide__text:hover{
  background: #D13058;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  padding: 0 10px;
  line-height: 2;
}
.section2{
  display: flex;
  padding: 5% 0 0 5%;
  flex-wrap: wrap;
  background: url("../../images/main/bgsection2.svg") no-repeat 0 30%;
  font-size: 15px;
}
.section2__block1{
  flex-grow: 1;
}
.block1__title{
  background: url("../../images/main/border.svg") no-repeat 0 0;
  padding-top: 20px;
}
.section2__name{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 20px 0;
}
.section2 div{
  margin-right: 40px;
}


.section3{
  background: url("../../images/main/bgsection3.svg") no-repeat 0 100%,
  url("../../images/main/2bgsection3.svg") no-repeat 100% 0;
  height: 660px;
  font-size: 15px;
}
.section3__title{
  background: url("../../images/main/border.svg") no-repeat 50% 0;
  text-align: center;
  padding-top: 20px;
}
.swiper2 .swiper-wrapper{
  height: 400px;
}
.inst-slide_1{
  background: url("../../images/main/inst-slider6.png") center center no-repeat;
}
.inst-slide_2{
  background: url("../../images/main/inst-slider2.png") center center no-repeat;
}
.inst-slide_3{
  background: url("../../images/main/inst-slider3.png") center center no-repeat;}
.inst-slide_4{
  background: url("../../images/main/inst-slider4.png") center center no-repeat;
}
.inst-slide_5{
  background: url("../../images/main/inst-slider5.png") center center no-repeat;
}
.section4{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
.section4_left{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.section4__block1{
  padding-left:10%;
  width: 50%;
}
.section4__block1-title{
  margin: 0;
  background: url("../../images/main/border.svg") no-repeat 0 0;
  padding: 20px 0;
}
.section4__block2{
  margin-top: 90px;
}
.section4__block2 p{
  margin-top: 30px;
  padding-left: 40px;
  height: 25px;
}

.section4__block2-text1{
  background: url("../../images/main/s4icon1.svg") no-repeat left;
  font-size: 18px;
  font-weight: bold;
}
.section4__block2-text2{
  background: url("../../images/main/s4icon2.svg") no-repeat left;
}
.section4__block2-text2 a{
  text-decoration: none;
  color: #1859BE;
}
.section4__block2-text3{
  background: url("../../images/main/s4icon3.svg") no-repeat left;
}
.section4_right{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.ya_map {
  font-size: 12px;
  color: #454545;
}

#map {
  width: 810px;
  height: 610px;
}

/*# sourceMappingURL=styles.css.map */
