body {
  box-sizing: border-box;
  font-family: Ubuntu, serif;
  background: #fbfbfb;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

.header {
  height: 120px;
  margin: 10px 20px 0 40px;
}

.header__contacts {
  height: 50px;
}

.header__contacts span {
  font-size: 13px;
  color: rgba(37, 37, 37, 0.3);
}

.contacts__icon1 {
  float: right;
}

.contacts__icon2 {
  float: right;
  margin-right: 20px;
}

.contacts__adress {
  float: right;
  margin-right: 30px;
  background: url(../../images/header/icons/pin.svg) left no-repeat;
  padding-left: 25px;
}

.contacts__mail {
  float: right;
  margin-right: 70px;
  background: url(../../images/header/icons/mail.svg) left no-repeat;
  padding-left: 25px;
}

.contacts__tel {
  float: right;
  margin-right: 70px;
  background: url(../../images/header/icons/phone.svg) left no-repeat;
  padding-left: 25px;
  font-weight: bold;
}

.nav__button {
  float: right;
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 160px;
  color: #ffffff;
  border: 0;
  letter-spacing: 1px;
}

.nav__button:hover {
  border: 4px solid #5583DD;
}

.nav__button:active {
  background: #1E52B8;
  color: #A3BAE8;
}

.nav__menu {
  float: right;
  margin: 15px 0 0 0;
}

.nav__menu-item {
  display: inline-block;
  margin-right: 35px;
}

.nav__menu-item:last-child {
  margin-right: 45px;
}

.nav__menu-item:not(:last-child):after {
  content: "/";
  color: #BCCBDE;
  transform: rotate(135deg);
  padding-left: 50px;
}

.nav__menu-item a {
  text-decoration: none;
  color: black;
}

.nav__menu-item:first-child {
  background: url(../../images/header/Rectangle.svg) center no-repeat;
  padding-left: 60px;
}

.header__logo2 {
  padding: 0 0 30px 10px;
}

.header__logo3 {
  position: absolute;
  top: 110px;
  left: 120px;
}

.section {
  height: 600px;
  padding: 40px 0 0 140px;
  background: url(../../images/main/Unionmain.svg) 80% 35% no-repeat, url(../../images/main/Vectormain.svg) 100% 100% no-repeat;
}

.section__block {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  width: 700px;
}

.section__block a {
  text-decoration: none;
  color: black;
}

.block__elem1 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/hat.svg) left no-repeat;
}

.block__elem2 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/home.svg) left no-repeat;
}

.block__elem3 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/play.svg) left no-repeat;
}

.block__elem4 {
  margin-left: 10px;
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../../images/main/pin.svg) left no-repeat;
}

.block__button {
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 160px;
  color: #ffffff;
  border: 0;
  letter-spacing: 1px;
  margin-top: 40px;
}

.block__button:hover {
  border: 4px solid #5583DD;
}

.block__button:active {
  background: #1E52B8;
  color: #A3BAE8;
}

.section__video {
  margin-right: 40px;
  float: right;
}

.section__video {
  position: relative;
  width: 800px;
  height: 500px;
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../../images/video/play.svg) 50% 50% no-repeat;
}

.video__overlay.o {
  background: none;
}

.section2 {
  height: 720px;
  background: url("../../images/main/bgsection.svg") 0 100% no-repeat, url("../../images/main/bgsection2.svg") 90% 90% no-repeat;
}

.section2__button {
  float: right;
  height: 10px;
  width: 10px;
  margin-right: 20px;
}

.section2__text {
  background: url("../../images/main/finger.svg") right center no-repeat;
  float: right;
  margin-right: 20px;
  padding-right: 20px;
  color: #3067D1;
  text-decoration: none;
}

.section2__title {
  float: right;
  display: inline-block;
  margin: 0 30% 0 0;
}

.section2__block {
  margin: 0 20px;
  background-image: url("../../images/main/bgblock2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
