// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$phone-name: 'phone';
$phone-x: 0px;
$phone-y: 0px;
$phone-offset-x: 0px;
$phone-offset-y: 0px;
$phone-width: 16px;
$phone-height: 16px;
$phone-total-width: 37px;
$phone-total-height: 33px;
$phone-image: '/images/sprite.png';
$phone: (0px, 0px, 0px, 0px, 16px, 16px, 37px, 33px, '/images/sprite.png', 'phone', );
$pin-name: 'pin';
$pin-x: 21px;
$pin-y: 0px;
$pin-offset-x: -21px;
$pin-offset-y: 0px;
$pin-width: 16px;
$pin-height: 16px;
$pin-total-width: 37px;
$pin-total-height: 33px;
$pin-image: '/images/sprite.png';
$pin: (21px, 0px, -21px, 0px, 16px, 16px, 37px, 33px, '/images/sprite.png', 'pin', );
$union-name: 'union';
$union-x: 0px;
$union-y: 21px;
$union-offset-x: 0px;
$union-offset-y: -21px;
$union-width: 16px;
$union-height: 12px;
$union-total-width: 37px;
$union-total-height: 33px;
$union-image: '/images/sprite.png';
$union: (0px, 21px, 0px, -21px, 16px, 12px, 37px, 33px, '/images/sprite.png', 'union', );
$spritesheet-width: 37px;
$spritesheet-height: 33px;
$spritesheet-image: '/images/sprite.png';
$spritesheet-sprites: ($phone, $pin, $union, );
$spritesheet: (37px, 33px, '/images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
