%title {
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  text-transform: uppercase;
}

body {
  box-sizing: border-box;
  font-family: Ubuntu, serif;
  background: #fbfbfb;
}
h1{
  @extend %title;
}

.hidden{
  display: none;
}
form{
  margin: 0 auto;
  padding: 60px 40px;
  max-width: 600px;
  max-height: 620px;
  background-color: #FFFFFF;
  position: relative;
  color: rgba(37, 37, 37, 0.3);
}
form h1{
  font-size: 28px;
  margin: 10px auto;
  color: #000000;
  text-align: center;
}
.textform{
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  resize: none;
  padding: 10px 0 10px 10px;
}
form p{
  margin: 0 0 20px 30px ;
  height: 30px;
  width: 100%;
}
p input{
  margin-right: 10px;
}
form button{
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 300px;
  border: 0;
  color: #ffffff;
  margin-left: 25%;
}
form button:hover{
  border: 4px solid #5583DD;
}
form button:active{
  background: #1E52B8;
  color: #A3BAE8;
}

.section {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  padding: 5% 0 0 5%;
  background: url(../images/main/Unionmain.svg) no-repeat 80% 40%,
  url(../images/main/Vectormain.svg) no-repeat 100% 100%;
}

.section__block {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}
.block__title{
  background: url("../images/main/border.svg") no-repeat 0 0;
  padding-top: 20px;
}

.section__block a {
  text-decoration: none;
  color: black;
}

.block__elem1 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../images/main/hat.svg) left no-repeat;
}

.block__elem2 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../images/main/home.svg) left no-repeat;
}

.block__elem3 {
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../images/main/play.svg) left no-repeat;
}

.block__elem4 {
  margin-left: 10px;
  line-height: 50px;
  display: inline-block;
  height: 60px;
  padding-left: 70px;
  background: url(../images/main/pin.svg) left no-repeat;
}

.block__button {
  background: #3067D1;
  border-radius: 4px;
  height: 50px;
  width: 160px;
  border: 0;
  margin-top: 40px;
}
.block__button a{
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
}
.block__button:hover {
  border: 4px solid #5583DD;
}

.block__button:active {
  background: #1E52B8;
  color: #A3BAE8;
}

.section__video {
  margin-right: 40px;
  float: right;
  position: relative;
  width: 800px;
  height: 500px;
}
.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../images/video/play.svg) 50% 50% no-repeat;
}

.video__overlay.o {
  background: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper1_head{
  display: flex;
}
.swiper1_title{
  background: url("../images/main/border.svg") no-repeat 50% 0;
  padding-top: 20px;
  margin: 0 auto;
}
.swiper1_link{
  background: url("../images/main/slider1head_arrow.png") no-repeat 100% 10%;
  padding-right: 20px;
}
.swiper1_link a{
  text-decoration: none;
  color: #3067D1;
}
.swiper1 .swiper-wrapper{
  height: 500px;
  position: relative;
}
.swiper-slide {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slide_1{
  background: url("../images/main/slider1_teacher.svg") center center no-repeat;
}
.slide_2{
  background: url("../images/main/slider1_tongue.svg") center center no-repeat;
}
.slide_3{
  background: url("../images/main/slider1_friends.svg") center center no-repeat;
}
.slide_4{
  background: url("../images/main/slider1_boat.svg") center center no-repeat;
}
.slide__text{
  position: absolute;
  top: 380px;
}
.slide__text-link{
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.slide__text:hover{
  background: #D13058;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  padding: 0 10px;
  line-height: 2;
}
.section2{
  display: flex;
  padding: 5% 0 0 5%;
  flex-wrap: wrap;
  background: url("../images/main/bgsection2.svg") no-repeat 0 30%;
  font-size: 15px;
  line-height: 22px;
}
.section2__block1{
  flex-grow: 1;
}
.block1__title{
  background: url("../images/main/border.svg") no-repeat 0 0;
  padding-top: 20px;
}
.section2__name{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 20px 0;
}
.section2 div{
  margin-right: 40px;
}


.section3{
  background: url("../images/main/bgsection3.svg") no-repeat 0 100%,
  url("../images/main/2bgsection3.svg") no-repeat 100% 0;
  height: 660px;
  font-size: 15px;
}
.section3__title{
  background: url("../images/main/border.svg") no-repeat 50% 0;
  text-align: center;
  padding-top: 20px;
}
.swiper2 .swiper-wrapper{
  height: 400px;
}
.inst-slide_1{
  background: url("../images/main/inst-slider6.png") center center no-repeat;
}
.inst-slide_2{
  background: url("../images/main/inst-slider2.png") center center no-repeat;
}
.inst-slide_3{
  background: url("../images/main/inst-slider3.png") center center no-repeat;}
.inst-slide_4{
  background: url("../images/main/inst-slider4.png") center center no-repeat;
}
.inst-slide_5{
  background: url("../images/main/inst-slider5.png") center center no-repeat;
}
.section4{
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
.section4_left{
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section4__block1{
  padding-left:10%;
  width: 50%;
}
.section4__block1-title{
  margin: 0;
  background: url("../images/main/border.svg") no-repeat 0 0;
  padding: 20px 0;
}
.section4__block2{
  margin-top: 90px;
}
.section4__block2 p{
  margin-top: 30px;
  padding-left: 40px;
  height: 25px;
}

.section4__block2-text1{
  background: url("../images/main/s4icon1.svg") no-repeat left;
  font-size: 18px;
  font-weight: bold;
}
.section4__block2-text2{
  background: url("../images/main/s4icon2.svg") no-repeat left;
}
.section4__block2-text2 a{
  text-decoration: none;
  color: #1859BE;
}
.section4__block2-text3{
  background: url("../images/main/s4icon3.svg") no-repeat left;
}
.section4_right{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.ya_map {
  font-size: 12px;
  color: #454545;
}

#map {
  margin-top: 120px;
  width: 810px;
  height: 610px;
}

.section4 .swiper-container {
  width: 80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.section4 .swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 60%;
  width: 60%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 20px 0;
}
.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 20%;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 0.4;
}

footer nav button{
  margin-left: 20% ;
}
footer .header__contacts{
  justify-content: left;
  margin-left: 13%;
  margin-top: 10px;
}
.footer__last{
  color: rgba(37, 37, 37, 0.3);
  margin:0 20px 40px;
}
.last__left-text{
  float: left;
}
.last__right-text{
  float: right;
}

.bottom__cookie-block{
  width: 100%;
  height: 160px;
  color: #ffffff;
  background-color: #3067D1;
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 100000;
  -webkit-transform: translateZ(0);
  border-radius: 12px 12px 0 0;
}
.bottom__cookie-block p{
  float: left;
  margin: 80px;
}
.bottom__cookie-block a{
  text-decoration: none;
  color: #FCFCFB;;
  float: right;
  margin: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
